body {
        background: linear-gradient(135deg, #060a12,#0f151e);
        color: aliceblue;
        margin: 0;
        font-family: 'Arial', sans-serif;
    }
    
    .team{display:grid;grid-template-columns:repeat(auto-fit,minmax(250px,1fr));gap:25px;margin-top:50px;}
    .member{text-align:center;background:rgba(27, 25, 23, 0.9);border:1px solid rgba(122, 86, 51, 0.3);border-radius:15px;padding:30px;transition:0.3s;}
    .member:hover{box-shadow:0 0 25px #716e6b,0 0 40px rgba(153, 144, 136, 0.5) inset;transform:translateY(-8px);}
    .member img{width:120px;height:120px;border-radius:50%;border:3px solid #f9f6f69e;object-fit:cover;margin-bottom:15px;}
    footer {
            background: rgba(255,255,255,0.05);
            backdrop-filter: blur(10px);
            padding: 25px;
            text-align: center;
            border-top: 1px solid rgba(255,255,255,0.1);
            color: #94a3b8;
            font-size: 14px;
        }